<header class="header">
    <div class="logo">
        <h2>GeTech - ERP Industrial</h2>
    </div>

    <nav class="menu">
        <a href="index.html">Início</a>
        <a href="sobre.html">Sobre</a>
        <a href="funcionalidades.html">Funcionalidades</a>
        <a href="planos.html">Planos</a>
        <a href="depoimentos.html">Depoimentos</a>
        <a href="integração.html">Integrações</a>
        <a href="FAQ.html">FAQ</a>
        <a href="blog.html">Blog</a>
        <a href="contato.html">Contato</a>
        <a href="politica-privacidade.html">Política de Privacidade</a>
        <a href="teste_aumentada.html">Realidade Aumentada</a>
        <a href="../../Site%20C/pages/chat.html">Chatbot</a>
        <a href="configuracoes.html" id="menu-configuracoes">Configurações</a>
        <a href="../pages/redimencionamento_site.html"><span>Ge</span>Tech</a>
        <div class="theme-toggle-wrap">
    <span class="theme-icon" id="themeIcon">🌙</span>
    <button class="theme-toggle" id="themeToggle" aria-label="Ativar tema claro"></button>
</div>
    </nav>

    <div class="auth" id="auth-section">
        <a href="login.html" class="btn-login">Entrar</a>
        <a href="login.html" class="btn-cadastro">Cadastrar</a>
    </div>
</header>